@page "/login"
@using Suap.Identity.Contracts
@using Suap.Web.Dto
@using Suap.Web.Services
@inject IIdentityService service
@inject IMessageService antMessage;
@inject NavigationManager navigationManager

<h3>Login</h3>



<MyInputComponent @bind-BindingValue="LoginValue" />
<MyInputComponent @bind-BindingValue="Password" />

<button class="btn btn-primary" @onclick="LoginSubmit">Click me</button>
@code {


    string LoginValue { get; set; } = "admin@rshb.ru";

    private void LoginChanged(string text)
    {
        LoginValue = text;
    }

    string Password { get; set; } = "admin";

    private void PasswordChanged(string text)
    {
        Password = text;
    }

    private async Task LoginSubmit()
    {
        string? returnUrl = default!;

        TokenResponse tokenResponse= await service.Login(new UserLogin(LoginValue, Password));

        if (!tokenResponse.IsSuccess)        
        {
            antMessage.Error(tokenResponse.ErrorMessages[0]);
        }
        else {
        returnUrl = navigationManager.Uri.Split(["returnUrl="] , StringSplitOptions.None).LastOrDefault();        

        if (returnUrl!=default)
            navigationManager.NavigateTo(returnUrl);
        }
    }

    


    
}
