@*Компонент прокидывает вверх число Counter*@
@namespace My.Components
<h3 class="my-red">Current count is @Counter</h3>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    [Parameter]
    public int Counter { get; set; }

    [Parameter]
    public EventCallback<int> CounterChanged { get; set; }

    private async Task IncrementCount()
    {
        await CounterChanged.InvokeAsync(++Counter);
    }
}
