@page "/counter"
@inject ILogger<Counter> _logger
@inject AppState state

<PageTitle>Counter</PageTitle>

<h1 class="my-class">Counter</h1>

<p class="my-class" role="status">Current count is: @currentCount</p>

<CounterComponent @bind-Counter="currentCount" />

<p role="status">Current count is: @currentCount</p>

<style>
   
</style>

@code {

    private int currentCount = 1;

    protected override void OnInitialized()
    {
        state.IsAuthenticated = !state.IsAuthenticated;
        _logger.LogInformation("Message from OnInitialized");
        //Console.WriteLine("Message from console");
        //   base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        _logger.LogInformation($"Message from AfterRender {firstRender}");
    }

}
