@page "/"
@inject IConfiguration Configuration
@inject AppState state

<PageTitle>Home</PageTitle>

<h1>Hello,configurations is @Configuration["MyEnv"]</h1>

<section>
Search value is:
<i>@SearchValue</i>
</section>

<section>
App state is:
<i>@state.IsAuthenticated</i>
</section>

@*<MyInputComponent BindingValue="SearchValue"  BindingValueChanged="SetText" /> *@

@*<TypeSearch OnSearchChanged="SetText"
            ClearSearch=@ClearSearch
            Placeholder="Search for a product..." /> *@

<MyInputComponent @bind-BindingValue="SearchValue" />

@code {
    string SearchValue { get; set; } = "test";

    private void SetText(string text)
    {
        SearchValue = text;
    }

    private bool ClearSearch = false;
}